.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}

.medication-section h1 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.medication-list {
  text-align: left;
  padding-left: 0;
  list-style-position: inside;
  margin-bottom: 1rem;
}

.medication-list li {
  margin-bottom: 0.5rem;
}

.action-btn {
  margin-left: 10px;
  padding: 4px 8px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  background-color: #e0e0e0;
  cursor: pointer;
}

.action-btn.delete-btn {
  background-color: #f6bebe;
}

.action-btn.update-btn:hover {
  background-color: #9b9999;
}
.action-btn.delete-btn:hover {
  background-color: #fc9292;
}
.add-btn {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: white;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  border-radius: 4px;
  cursor: pointer;
}

hr {
  margin: 2rem auto;
  border: 0.5px solid #ccc;
  width: 90%;
}

.search-section h2 {
  font-family: "Gelasio", serif;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.search-section p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.medication-select {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-section {
  position: relative;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
  max-width: 700px;
}

.form-row {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.completeBtn {
  margin-left: auto;
  padding: 4px 8px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  background-color: #e0e0e0;
  cursor: pointer;
}
.completeBtn:hover {
  background: #9b9999;
}

.completeBtn2 {
  padding: 4px 8px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  background-color: #e0e0e0;
  cursor: pointer;
}
.completeBtn2:hover {
  background: #9b9999;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 150px;
}

label {
  font-size: 14px;
}

input[type="checkbox"] {
  margin-right: 6px;
}

.repeat-options {
  display: none;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  font-family: "Gelasio", serif;
  font-weight: bold;
  font-size: 1.17em;
}

.days {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  flex-wrap: wrap;
}

.day-btn {
  padding: 8px 14px;
  background: #aca291;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.highlighted {
  background: #57534d !important;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #aca291;
  color: white;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.close-btn:hover {
  background: #57534d;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 12px;
  padding: 2rem;
  z-index: 999;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  width: 90%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}
