/**
 * This file includes styles to apply to every page.
 * Every page should <link> to this file.
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gelasio", serif;
}

 /* Nav Bar */
.topnav {
  background-color: #c1a77b;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 12px 0;
}

.topnav a {
  color: #282521;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.topnav a:hover {
  background-color: #e8cb90;
}
.topnav a.active {
  background-color: #fae7c2;
  color: rgb(0, 0, 0);
}